body {
    overflow: hidden;
}

#mini_section {
    position: relative;
    bottom: 420px;
    left: 1120px;
}

#close-btn {
    position: absolute;
    left: 230px;
    top: -25px;
}

#win-main {
    height: 100%;
}